@page
@model ConfirmSentModel
@{
    ViewData["Title"] = "E-Posta Onayla";
}

<h2>@ViewData["Title"]</h2>
<p>Size bir link gönderdik.</p>
<p>Lütfen e-postanızı kontrol edip gelen linke tıklayarak hesabınızı doğrulayın.</p>
<p>Not: E-posta gelmediyse spam klasörünü kontrol etmeyi unutmayın.</p> 