@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Şifreniz sıfırlandı. Lütfen <a asp-page="./Login">Giriş yapmak için tıklayınız.</a>.
</p>
