
@{
    ViewData["Title"] = "Başarılı";
}

<div class="row">
    <div class="col-md-12">
        Gönderdiğiniz mesaj başarıyla iletilmiştir. Mesajlarım sayfasından yanıt gelip gelmediğini kontrol edebilirsiniz.
    </div>
</div>

