@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "İki faktörlü kimlik doğrulama (2FA) kurtarma kodları oluştur";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>
            Bu kodları güvenli bir yere koyun.
        </strong>
    </p>
    <p>
        Cihazınızı kaybederseniz ve kurtarma kodlarınız yoksa, hesabınıza erişimi kaybedersiniz.
    </p>
    <p>
        Yeni kurtarma kodları oluşturmak, kimlik doğrulama uygulamalarında kullanılan anahtarları değiştirmez.
        Bir doğrulayıcı uygulamasında kullanılan anahtarı değiştirmek isterseniz<a asp-page="./ResetAuthenticator">kimlik doğrulama anahtarlarınızı sıfırlayın.
</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Kurtarma Kodları Oluştur</button>
    </form>
</div>