@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "İki faktörlü kimlik doğrulama (2FA)";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Kurtarma kodunuz kalmadı.</strong>
            <p>Mecbursun <a asp-page="./GenerateRecoveryCodes">yeni bir kurtarma kodu seti oluştur</a> Bir kurtarma koduyla giriş yapmadan önce.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>1 tane kurtarma kodunuz kaldı.</strong>
            <p>Yeni bir <a asp-page="./GenerateRecoveryCodes">kurtarma kodu seti oluşturmanız gerekir</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong> @Model.RecoveryCodesLeft Kurtarma kodunuz kaldı.</strong>
            <p><a asp-page="./GenerateRecoveryCodes">yeni bir kurtarma kodu seti oluşturmalısınız</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">Bu tarayıcıyı unut</button>
        </form>
    }
        <a asp-page="./Disable2fa" class="btn btn-default">2FA'yı devre dışı bırak</a>
        <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Kurtarma kodlarını sıfırla</a>
}

        <h5>Kimlik doğrulama uygulaması</h5>
@if (!Model.HasAuthenticator)
{
        <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Kimlik doğrulama uygulaması ekle</a>
}
else
{
        <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Kimlik doğrulama uygulaması kur.</a>
        <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">Kimlik doğrulama uygulaması sıfırla.</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
