@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Index";
}
<h2>Kullanıcılar</h2>
<table class="table" id="tblRecords">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>E-posta</th>
            <th>Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success">Düzenle</a> <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

